body {
    height: 100%;
    margin: 0;
}
.container {
    width: 850px;  
    height: 450px;  
    border-radius: 20%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    border: solid black;
    transition: border-radius 0.5s;

}
.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    justify-items: center;
}
.container:hover {
    border-radius: 30%;
}
button {
    background-color: orange;
    padding: 30px;
    margin: 5px;
    cursor: pointer;
    border: solid white 2px;
    color: white;
}
button:hover {
    background-color: darkred; 
    color: white;
    border-radius: 50%;
    transition: border-radius 0.5s;
}

